{{set . "title" "Purchase"}}
{{template "header.html" .}}
<style type="text/css">
    .row {
        width: 100% !important;
    }

    .column {
        max-width: 450px;
    }

    .ui.card {
        margin: 0 auto;
    }

    .ui.horizontal.spaced.label {
        margin-top: 0.25em;
        margin-bottom: 0.25em;
    }

    .ui.spaced.content {
        margin-top: 0.25em;
    }


</style>
<div class="main ui container">
    <div class="ui middle aligned center aligned grid">
        <h2 class="ui teal image header">
            <div class="content">
                VIP-предложения
            </div>
        </h2>
        <div class="ui horizontal section divider">Подписки</div>
        <div class="ui left aligned internally celled equal width grid container">
            <div class="row">
                <div class="column">
                    <div class="ui card">
                        <div class="ui content"><h3 class="center aligned">VIP<sup>1</sup>-подписка</h3></div>
                        <div class="ui content">
                            <div class="ui relaxed list">
                                <div class="item">
                                    <div class="ui header"><i class="suitcase icon"></i>Наборы</div>
                                    <div class="ui relaxed divided list">
                                        <div class="item">
                                            <div class="ui spaced content">/kit food</div>
                                            <div class="ui content">
                                                <div class="ui horizontal spaced label">
                                                    <i class="tiny wait icon"></i>1 ч.
                                                </div>
                                                <div class="ui horizontal spaced label">
                                                    <i class="tiny gift icon"></i>2 &times; MRE
                                                </div>
                                            </div>
                                        </div>
                                        <div class="item">
                                            <div class="ui content">
                                                <div class="ui spaced content">/kit tools</div>

                                                <div class="ui content">
                                                    <div class="ui horizontal spaced label">
                                                        <i class="tiny wait icon"></i>1 ч.
                                                    </div>
                                                    <div class="ui horizontal spaced label">
                                                        <i class="tiny gift icon"></i>1 &times; Hatchet
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="item">
                                            <div class="ui spaced content">/kit fuelcan</div>
                                            <div class="ui content">
                                                <div class="ui horizontal spaced label">
                                                    <i class="tiny wait icon"></i>1 ч.
                                                </div>
                                                <div class="ui horizontal spaced label">
                                                    <i class="tiny gift icon"></i>1 &times; Gas
                                                </div>
                                            </div>
                                        </div>
                                        <div class="item">
                                            <div class="ui spaced content">/kit armor1</div>
                                            <div class="ui content">
                                                <div class="ui horizontal spaced label">
                                                    <i class="tiny wait icon"></i>6 ч.
                                                </div>

                                                <div class="ui horizontal spaced label">
                                                    <i class="tiny gift icon"></i>
                                                    1 &times; Green&nbsp;Travelpack
                                                </div>
                                                <div class="ui horizontal spaced label">
                                                    <i class="tiny gift icon"></i>
                                                    1 &times; Military&nbsp;Top
                                                </div>
                                                <div class="ui horizontal spaced label">
                                                    <i class="tiny gift icon"></i>
                                                    1 &times; Military&nbsp;Bottom
                                                </div>
                                                <div class="ui horizontal spaced label">
                                                    <i class="tiny gift icon"></i>
                                                    1 &times; Military&nbsp;Beret
                                                </div>
                                                <div class="ui horizontal spaced label">
                                                    <i class="tiny gift icon"></i>
                                                    1 &times; Military&nbsp;Vest
                                                </div>
                                            </div>
                                        </div>
                                        <div class="item">
                                            <div class="ui spaced content">/kit defense</div>
                                            <div class="ui content">
                                                <div class="ui horizontal spaced label">
                                                    <i class="tiny wait icon"></i>12 ч.
                                                </div>
                                                <div class="ui horizontal spaced label">
                                                    <i class="tiny gift icon"></i>1 &times; Sportshot
                                                </div>
                                                <div class="ui horizontal spaced label">
                                                    <i class="tiny gift icon"></i>2 &times; Sportshot&nbsp;Magazine
                                                </div>
                                                <div class="ui horizontal spaced label">
                                                    <i class="tiny gift icon"></i>1 &times; Halo&nbsp;Sight
                                                </div>
                                                <div class="ui horizontal spaced label">
                                                    <i class="tiny gift icon"></i>1 &times; Vertical&nbsp;Grip
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="ui content">
                            <div class="ui disabled labeled fluid button">
                                <div class="ui fluid button">
                                    <i class="shop icon"></i>Купить
                                </div>
                                <a class="ui basic label">
                                    <i class="ruble icon"></i>99
                                </a>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="column">
                    <div class="ui card">
                        <div class="ui content"><h3 class="center aligned">VIP<sup>2</sup>-подписка</h3></div>
                        <div class="ui content">
                            <div class="ui relaxed list">
                                <div class="item">
                                    <div class="ui header"><i class="suitcase icon"></i>Наборы</div>
                                    <div class="ui relaxed divided list">
                                        <div class="item">
                                            <div class="ui spaced content">/kit food</div>
                                            <div class="ui content">
                                                <div class="ui horizontal spaced label">
                                                    <i class="tiny wait icon"></i>1 ч.
                                                </div>
                                                <div class="ui horizontal spaced label">
                                                    <i class="tiny gift icon"></i>2 &times; MRE
                                                </div>
                                            </div>
                                        </div>
                                        <div class="item">
                                            <div class="ui content">
                                                <div class="ui spaced content">/kit tools</div>

                                                <div class="ui content">
                                                    <div class="ui horizontal spaced label">
                                                        <i class="tiny wait icon"></i>1 ч.
                                                    </div>
                                                    <div class="ui horizontal spaced label">
                                                        <i class="tiny gift icon"></i>1 &times; Hatchet
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="item">
                                            <div class="ui spaced content">/kit fuelcan</div>
                                            <div class="ui content">
                                                <div class="ui horizontal spaced label">
                                                    <i class="tiny wait icon"></i>1 ч.
                                                </div>
                                                <div class="ui horizontal spaced label">
                                                    <i class="tiny gift icon"></i>1 &times; Gas
                                                </div>
                                            </div>
                                        </div>
                                        <div class="item">
                                            <div class="ui spaced content">/kit armor2</div>
                                            <div class="ui content">
                                                <div class="ui horizontal spaced olive label">
                                                    <i class="tiny wait icon"></i>6 ч.
                                                </div>

                                                <div class="ui horizontal spaced olive label">
                                                    <i class="tiny gift icon"></i>
                                                    1 &times; Alicepack
                                                </div>
                                                <div class="ui horizontal spaced label">
                                                    <i class="tiny gift icon"></i>
                                                    1 &times; Military&nbsp;Top
                                                </div>
                                                <div class="ui horizontal spaced label">
                                                    <i class="tiny gift icon"></i>
                                                    1 &times; Military&nbsp;Bottom
                                                </div>
                                                <div class="ui horizontal spaced olive label">
                                                    <i class="tiny gift icon"></i>
                                                    1 &times; Military&nbsp;Helmet
                                                </div>
                                                <div class="ui horizontal spaced label">
                                                    <i class="tiny gift icon"></i>
                                                    1 &times; Military&nbsp;Vest
                                                </div>
                                            </div>
                                        </div>
                                        <div class="item">
                                            <div class="ui spaced content">/kit drugs</div>
                                            <div class="ui content">
                                                <div class="ui horizontal spaced label">
                                                    <i class="tiny wait icon"></i>1 ч.
                                                </div>
                                                <div class="ui horizontal spaced label">
                                                    <i class="tiny gift icon"></i>2 &times; Medkit
                                                </div>
                                                <div class="ui horizontal spaced label">
                                                    <i class="tiny gift icon"></i>5 &times; Dressing
                                                </div>
                                                <div class="ui horizontal spaced label">
                                                    <i class="tiny gift icon"></i>1 &times; Vaccine
                                                </div>
                                            </div>
                                        </div>

                                        <div class="item">
                                            <div class="ui spaced content">/kit marksman2</div>
                                            <div class="ui content">
                                                <div class="ui horizontal spaced label">
                                                    <i class="tiny wait icon"></i>24 ч.
                                                </div>
                                                <div class="ui horizontal spaced label">
                                                    <i class="tiny gift icon"></i>1 &times; Maplestrike
                                                </div>
                                                <div class="ui horizontal spaced label">
                                                    <i class="tiny gift icon"></i>2 &times; Military&nbsp;Magazine
                                                </div>
                                                <div class="ui horizontal spaced label">
                                                    <i class="tiny gift icon"></i>1 &times; 8x&nbsp;Scope
                                                </div>
                                                <div class="ui horizontal spaced label">
                                                    <i class="tiny gift icon"></i>1 &times; Military&nbsp;Suppressor
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="ui content">
                            <div class="ui disabled labeled fluid button">
                                <div class="ui fluid button">
                                    <i class="shop icon"></i>Купить
                                </div>
                                <a class="ui basic label">
                                    <i class="ruble icon"></i>149
                                </a>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="ui column">
                    <div class="ui card" style="margin-left: auto; margin-right: auto;">
                        <div class="ui content"><h3 class="center aligned">VIP<sup>3</sup>-подписка</h3></div>
                        <div class="ui content">
                            <div class="ui relaxed list">
                                <div class="item">
                                    <div class="ui header"><i class="suitcase icon"></i>Наборы</div>
                                    <div class="ui relaxed divided list">
                                        <div class="item">
                                            <div class="ui spaced content">/kit food</div>
                                            <div class="ui content">
                                                <div class="ui horizontal spaced label">
                                                    <i class="tiny wait icon"></i>1 ч.
                                                </div>
                                                <div class="ui horizontal spaced label">
                                                    <i class="tiny gift icon"></i>2 &times; MRE
                                                </div>
                                            </div>
                                        </div>
                                        <div class="item">
                                            <div class="ui content">
                                                <div class="ui spaced content">/kit tools</div>

                                                <div class="ui content">
                                                    <div class="ui horizontal spaced label">
                                                        <i class="tiny wait icon"></i>1 ч.
                                                    </div>
                                                    <div class="ui horizontal spaced label">
                                                        <i class="tiny gift icon"></i>1 &times; Hatchet
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="item">
                                            <div class="ui spaced content">/kit fuelcan</div>
                                            <div class="ui content">
                                                <div class="ui horizontal spaced label">
                                                    <i class="tiny wait icon"></i>1 ч.
                                                </div>
                                                <div class="ui horizontal spaced label">
                                                    <i class="tiny gift icon"></i>1 &times; Gas
                                                </div>
                                            </div>
                                        </div>
                                        <div class="item">
                                            <div class="ui spaced content">/kit armor3</div>
                                            <div class="ui content">
                                                <div class="ui horizontal spaced olive label">
                                                    <i class="tiny wait icon"></i>4.5 ч.
                                                </div>

                                                <div class="ui horizontal spaced label">
                                                    <i class="tiny gift icon"></i>
                                                    1 &times; Alicepack
                                                </div>
                                                <div class="ui horizontal spaced label">
                                                    <i class="tiny gift icon"></i>
                                                    1 &times; Military&nbsp;Top
                                                </div>
                                                <div class="ui horizontal spaced label">
                                                    <i class="tiny gift icon"></i>
                                                    1 &times; Military&nbsp;Bottom
                                                </div>
                                                <div class="ui horizontal spaced label">
                                                    <i class="tiny gift icon"></i>
                                                    1 &times; Military&nbsp;Helmet
                                                </div>
                                                <div class="ui horizontal spaced label">
                                                    <i class="tiny gift icon"></i>
                                                    1 &times; Military&nbsp;Vest
                                                </div>
                                            </div>
                                        </div>
                                        <div class="item">
                                            <div class="ui spaced content">/kit drugs</div>
                                            <div class="ui content">
                                                <div class="ui horizontal spaced label">
                                                    <i class="tiny wait icon"></i>1 ч.
                                                </div>
                                                <div class="ui horizontal spaced label">
                                                    <i class="tiny gift icon"></i>2 &times; Medkit
                                                </div>
                                                <div class="ui horizontal spaced label">
                                                    <i class="tiny gift icon"></i>5 &times; Dressing
                                                </div>
                                                <div class="ui horizontal spaced label">
                                                    <i class="tiny gift icon"></i>1 &times; Vaccine
                                                </div>
                                            </div>
                                        </div>

                                        <div class="item">
                                            <div class="ui spaced content">/kit marksman3</div>
                                            <div class="ui content">
                                                <div class="ui horizontal spaced olive label">
                                                    <i class="tiny wait icon"></i>12 ч.
                                                </div>
                                                <div class="ui horizontal spaced label">
                                                    <i class="tiny gift icon"></i>1 &times; Maplestrike
                                                </div>
                                                <div class="ui horizontal spaced olive label">
                                                    <i class="tiny gift icon"></i>1 &times; Military&nbsp;Drum
                                                </div>
                                                <div class="ui horizontal spaced label">
                                                    <i class="tiny gift icon"></i>1 &times; 8x&nbsp;Scope
                                                </div>
                                                <div class="ui horizontal spaced label">
                                                    <i class="tiny gift icon"></i>1 &times; Bipod
                                                </div>
                                                <div class="ui horizontal spaced label">
                                                    <i class="tiny gift icon"></i>1 &times; Military&nbsp;Suppressor
                                                </div>
                                            </div>
                                        </div>
                                        <div class="item">
                                            <div class="ui spaced content">/kit ghillie</div>
                                            <div class="ui content">
                                                <div class="ui horizontal spaced label">
                                                    <i class="tiny wait icon"></i>6 ч.
                                                </div>
                                                <div class="ui horizontal spaced label">
                                                    <i class="tiny gift icon"></i>
                                                    1 &times; Ghillie&nbsp;Top
                                                </div>
                                                <div class="ui horizontal spaced label">
                                                    <i class="tiny gift icon"></i>
                                                    1 &times; Ghillie&nbsp;Bottom
                                                </div>
                                                <div class="ui horizontal spaced label">
                                                    <i class="tiny gift icon"></i>
                                                    1 &times; Ghillie&nbsp;Helmet
                                                </div>
                                                <div class="ui horizontal spaced label">
                                                    <i class="tiny gift icon"></i>
                                                    1 &times; Ghillie&nbsp;Vest
                                                </div>
                                            </div>
                                        </div>
                                        <div class="item">
                                            <div class="ui spaced content">/kit sniper</div>
                                            <div class="ui content">
                                                <div class="ui horizontal spaced label">
                                                    <i class="tiny wait icon"></i>24 ч.
                                                </div>
                                                <div class="ui horizontal spaced label">
                                                    <i class="tiny gift icon"></i>
                                                    1 &times; Timberwolf
                                                </div>
                                                <div class="ui horizontal spaced label">
                                                    <i class="tiny gift icon"></i>
                                                    3 &times; Timberwolf&nbsp;Magazine
                                                </div>
                                                <div class="ui horizontal spaced label">
                                                    <i class="tiny gift icon"></i>
                                                    1 &times; 8x&nbsp;Scope
                                                </div>
                                                <div class="ui horizontal spaced label">
                                                    <i class="tiny gift icon"></i>
                                                    1 &times; 16x&nbsp;Scope
                                                </div>
                                                <div class="ui horizontal spaced label">
                                                    <i class="tiny gift icon"></i>
                                                    1 &times; Bipod
                                                </div>
                                                <div class="ui horizontal spaced label">
                                                    <i class="tiny gift icon"></i>
                                                    1 &times; Rangefinder
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="ui header"><i class="diamond icon"></i>Привилегии</div>
                                    <div class="ui relaxed divided list">
                                        <div class="item">
                                            <div class="ui spaced content">Резервный слот</div>

                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="ui content">
                            <div class="ui disabled labeled fluid button">
                                <div class="ui fluid button">
                                    <i class="shop icon"></i>Купить
                                </div>
                                <a class="ui basic label">
                                    <i class="ruble icon"></i>249
                                </a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{{template "footer.html" .}}
